ADMIN_GROUPS=modron-admins@example.com
COLLECTORS=gcp
LABEL_TO_EMAIL_REGEXP=(.*)_(.*?)_(.*?)
LABEL_TO_EMAIL_SUBSTITUTION=$1@$2.$3
LOG_FORMAT=text
LOG_LEVEL=info
LOG_ALL_SQL_QUERIES=false
ORG_ID=111111111111
ORG_SUFFIX=example.com
PERSISTENT_CACHE=true
PERSISTENT_CACHE_TIMEOUT=48h
PORT=4201
PROJECT_ID=modron-project-id
RUN_AUTOMATED_SCANS=false
SKIP_IAP=true
SQL_CONNECT_STRING=postgres://modron:modron@127.0.0.1:5432/modron?sslmode=disable

OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
OTEL_EXPORTER_OTLP_INSECURE=true
OTEL_LOG_LEVEL=debug
OTEL_SERVICE_NAME=modron

TAG_CUSTOMER_DATA=111111111111/customer_data
TAG_EMPLOYEE_DATA=111111111111/employee_data
TAG_ENVIRONMENT=111111111111/environment
