@use '../../colors.scss' as colors;

.modron-app {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .sidenav {
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
  }

  .app-content {
    position: relative;
    margin-left: 68px;
    width: calc(100% - 68px);

    .toolbar {
      position: fixed;
      display: flex;
      height: 60px;
      z-index: 300;

      img.logo {
        height: 60%;
        margin-right: 4px;
      }

      .app-title {
        font-weight: 400;
        color: colors.$title;
        text-transform: uppercase;
      }
    }

    .router-container {
      margin: 16px;
      margin-top: 60px;
      overflow: hidden;
    }
  }
}
