// place your variables here

module "modron" {
  source = "../modron"

  domain  = "modron-prod.example.com"
  env     = "prod"
  org_id  = "GCP_ORGID"
  project = "my-modron-prod"
  zone    = "GCP_ZONE"

  modron_admins = [
    "group:modron-admins@example.com"
  ]
  modron_users = [
    "group:modron-users@example.com",
  ]
  project_admins = [
    "group:modron-project-admins@example.com"
  ]
  docker_registry = "mirror.gcr.io"
  notification_system = "https://notification-system.example.com"
  notification_system_client_id = "client-id"
  org_suffix = "@example.com"
}
