<div class="inline">
  <mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <app-severity-indicator
          [severity]="ob.getRiskScore()"
        />
        <span>{{
            ob.getResourceRef()?.getExternalId() | parseExternalId
          }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <markdown>{{
            ob.getRemediation()?.getDescription() | shortenDescription
          }}
        </markdown>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="app-observation-details">
      <table class="observation-properties">
        <tr>
          <td>Risk Score</td>
          <td>
            <span
              class="severity-value"
              matTooltip="The risk score is computed from the severity and the impact of the observation."
            >
              {{ getSeverity(ob.getRiskScore()).toUpperCase() }}
          </span>
          </td>
        </tr>
        <tr>
          <td>Impact</td>
          <td>
            <span
              class="severity-value"
              matTooltip="The impact is determined by the environment - a production environment will have a higher impact than a development environment."
            >
              {{ ob.getImpact() | impactName | uppercase }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Severity</td>
          <td>
            <span
              class="severity-value"
              matTooltip="The severity is defined by the rule that created this observation."
            >
            {{ getSeverity(ob.getSeverity()).toUpperCase() }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Finding Class</td>
          <td>{{ getCategoryName(ob.getCategory()) }}</td>
        </tr>
        <tr>
          <td>Time of scan</td>
          <td>{{ ob.getTimestamp()?.toDate()?.toUTCString() }}</td>
        </tr>
        <tr *ngIf="this.getExpectedValue(ob) !== undefined">
          <td>Expected</td>
          <td>{{ this.getExpectedValue(ob) }}</td>
        </tr>
        <tr *ngIf="this.getObservedValue(ob) !== undefined">
          <td>Observed</td>
          <td>{{ this.getObservedValue(ob) }}</td>
        </tr>
      </table>
      <div>
        <div>
          <h3>Finding</h3>
          <div class="remediation" markdown>
            {{ ob.getRemediation()?.getDescription() }}
          </div>
        </div>
        <div *ngIf="ob.getRemediation()?.getRecommendation() !== ''">
          <div>
            <h3>Recommendation</h3>
          </div>
          <div class="recommendation-box" markdown>
            {{ ob.getRemediation()?.getRecommendation() }}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="actions" *ngIf="showActions">
    <div class="notify-ctn">
      <div
        *ngIf="
        (
          (this.notification.exceptions$ | async)!
          | filterExceptions : this.exceptionNameFromObservation(ob)
        ).length > 0;
        then has_exceptions;
        else has_no_exceptions
      "
      ></div>
      <ng-template #has_exceptions>
        <mat-icon
          [matBadge]="
          (
            (this.notification.exceptions$ | async)!
            | filterExceptions : this.exceptionNameFromObservation(ob)
          ).length
        "
          matBadgeColor="warn"
          matTooltip="Edit the exception"
          (click)="this.notifyToggle(ob)"
          class="notifications-toggle edit-exception"
        >notifications
        </mat-icon
        >
      </ng-template>
      <ng-template #has_no_exceptions>
        <mat-icon
          matTooltip="Add a new exception"
          (click)="this.notifyToggle(ob)"
          class="notifications-toggle add-exception"
        >notifications_off
        </mat-icon>
      </ng-template>
    </div>
  </div>
</div>
