.app-observation {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;

  b {
    font-size: 20px;
  }

  p {
    margin: 0;
    padding: 0 0 0 20px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  a {
    color: rgb(0, 0, 0);
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }

  .app-observation-details {
    div {
      .gridvalues {
        padding: 0 0 0 20px;
        display: grid;
        grid-template-columns: 100px 1fr;
      }
    }

    code {
      background-color: rgb(248, 248, 248);
      padding: 3px 10px;
    }
  }

  .expanded {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
  }

  span.expand {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
  }
}

.app-observation:hover span.expand {
  text-decoration: underline;
}

.remediation {
  background-color: #ffffff;
  align-self: stretch;
}

.recommendation-box {
  border-radius: 8px;
  background-color: #fff5c0;
  align-self: stretch;
  padding: 4px 16px;
}

.inline {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}

.notify-ctn {
  display: flex;
  .notifications-toggle {
    cursor: pointer;
    transform: scale(1.25);
    margin-top: 10px;
  }
}


table.observation-properties {
  td {
    padding: 0px 8px;
  }

  td:first-child {
    font-weight: bold;
    padding-left: 0;
  }

  td > span.severity-value {
    text-decoration: underline #333 dotted;
  }
}
