<mat-card class="resource-group-card">
  <mat-card-header class="resource-group-card-header">
    <mat-card-subtitle>{{ this.provider }}</mat-card-subtitle>
    <mat-card-title
      [matTooltip]="this.name.replace('projects/', '')"
      class="resource-group-title"
    >{{ this.name.replace('projects/', '') }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="observations">
      <div class="findings-by-severity" *ngIf="observationCount > 0; else noFindings">
        <div *ngFor="let severity of observationBySeverity">
          <div class="severity">
            <app-severity-indicator
              [severity]="severity[0]"
              [count]="severity[1]"
            />
          </div>
        </div>
      </div>

      <ng-template #noFindings>
        <div class="no-findings">
          <div class="no-findings-text">0 observations</div>
        </div>
      </ng-template>
    </div>
    <div class="last-scan"
         *ngIf="this.lastScanDate !== null; else lastScanUnavailable"
         [matTooltip]="lastScanDate.toString() || ''"
    >
      Last scanned: {{ this.lastScanDate! | fromNow }}
    </div>

    <ng-template #lastScanUnavailable>
      <div class="last-scan">
        Never scanned
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
  <button
    mat-flat-button
    (click)="$event.stopPropagation(); this.collectAndScan([this.name])"
  >
    <mat-icon fontSet="material-symbols-outlined">search_check_2</mat-icon>
    <span>SCAN</span>
  </button>
</mat-card-actions>

  <mat-card-footer class="footer">

    <mat-progress-bar
      mode="indeterminate"
      *ngIf="(this.isScanRunning$(this.name) | async)"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
