.stats-ctn {
  overflow: scroll;
  max-height: 80vh;
}

.inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.app-stats {
  width: 98%;

  .app-stats-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    background-color: rgb(239, 239, 239);

    h1 {
      margin: 5px 40px;
    }

    input {
      padding: 5px;
    }
  }

  h1 {
    display: inline;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  a:visited {
    text-decoration: none;
  }

  div a:hover::after {
    text-decoration: none;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 1em;
    content: "\00A0\1F517";
  }

  .app-stats-main-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .main-stat-bloc {
      min-width: 200px;
      max-width: 250px;
      margin-top: 20px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      h1 {
        font-size: 50px;
        margin: 0;
      }

      h2 {
        margin: 0;
      }
    }
  }
}

.bad {
  background-color: #da1e277c;
}

.good {
  background-color: #24a1477d;
}

.rule-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .buttons {
    display: flex;

    svg {
      margin-left: 5px;
      height: 40px;
      cursor: pointer;
      position: relative;
    }
  }
}

.hover-note {
  position: relative;

  &:hover {
    &::before {
      content: attr(data-hover);
      display: block;
      position: absolute;
      z-index: 100;
      top: 30px;
      right: 30px;
      background-color: rgb(245, 245, 245);
      padding: 5px;
      white-space: nowrap;
    }
  }
}
