<div class="app-stats">
  <div class="app-stats-header">
    <h2>Statistics</h2>
  </div>

  <div *ngIf="this.store.observations$ | async; let obs">
    <div class="main-stats">
      <mat-card class="dashboard-card positive-card" appearance="outlined">
        <mat-card-content>
          <mat-card-title>Compliant Projects</mat-card-title>
          <mat-card-subtitle>
            {{
              (obs | mapFlatRules).size -
              (obs | mapFlatRules | keyvalue | invalidProjectNb)
            }}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-card negative-card" appearance="outlined">
        <mat-card-content>
          <mat-card-title>Projects with Issues</mat-card-title>
          <mat-card-subtitle>{{ obs | mapFlatRules | keyvalue | invalidProjectNb }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-card negative-card" appearance="outlined">
        <mat-card-content>
          <mat-card-title>Observations</mat-card-title>
          <mat-card-subtitle>{{ (obs | mapFlatRules | observations).length }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
      <mat-card class="dashboard-card" appearance="outlined">
        <mat-card-content>
          <mat-card-title>Rule Types</mat-card-title>
          <mat-card-subtitle>{{ (obs | mapFlatRules | mapByType).size }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="observations-list">
        <mat-card
          *ngFor="
        let obsType of this.mapByType(obs) | keyvalue | reverseSortByLength;
        trackBy: this.identity"
          class="observation-card"
          appearance="outlined"
        >
          <mat-card-header>
            <mat-card-title>{{ obsType.key }}</mat-card-title>
            <mat-card-subtitle>{{ obsType.value.length }} observations</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="card-content">
            <div *ngIf="obsType.value.length !== 0">
              <div *ngIf="obsType.value | mapByObservedValues; let obsStat">
                <app-observations-stats
                  [data]="obsStat"
                  class="observations-histogram"
                  *ngIf="obsStat.size > 1"
                ></app-observations-stats>
              </div>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      List of the observations
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-template matExpansionPanelContent>
                    <app-observations-table
                      [obs]="obsType.value"
                      [columns]='["riskScore", "category", "resourceGroup", "resource", "shortDesc", "observedValue", "expectedValue", "actions"]'
                    />
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
              <button
                class="export-csv-button"
                color="primary"
                (click)="this.exportCsvObs(obsType.value, obsType.key)"
                mat-flat-button>
                Export as CSV
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
