<div class="app-resourcegroup">
  <div *ngIf="this.store.observations$ | async; let obs">
    <div class="app-resourcegroup-header">
      <h2>Resource Groups</h2>
    </div>
    <div class="app-resourcegroup-filter">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input (input)="updateFilterUrlParam()" [(ngModel)]="searchText" matInput>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="removeNoObs">Only with observations</mat-checkbox>
    </div>

    <h4 class="matching-groups-count">
      {{
      (
        obs
          | mapFlatRules
          | keyvalue
          | filterKeyValue: searchText
          | filterNoObservations: removeNoObs
      ).length
      }}
      matching groups
    </h4>
    <div *ngIf="
        obs
          | mapFlatRules
          | keyvalue
          | filterKeyValue: searchText
          | filterNoObservations: removeNoObs;
        let obsKvs
      ">

      <div class="observations-top-bar">
        <div class="observations-result">
          <div class="observation-type danger">
            <mat-icon class="observation-icon">error</mat-icon>
            <div class="observation-count">{{ obsKvs | invalidProjectNb }}</div>
            <div class="observation-description">groups with important observations</div>
          </div>

          <div class="observation-type warn">
            <mat-icon class="observation-icon">warning</mat-icon>
            <div class="observation-count">{{ obsKvs | obsNb }}</div>
            <div class="observation-description">total observations to solve</div>
          </div>
        </div>
        <div class="buttons">
          <div *ngIf="(this.isScanRunning$() | async) === false; else scanning">
            <button
              mat-raised-button
              color="primary"
              class="scan-all-rgs-button"
              (click)="this.collectAndScanAll()"
            >
              <mat-icon fontSet="material-symbols-outlined">search_check_2</mat-icon>
              <span>SCAN ALL</span>
            </button>
          </div>
          <ng-template #scanning>
            <button
              mat-raised-button
              color="primary"
              disabled="true"
              class="scan-all-rgs-button"
            >
              <mat-icon fontSet="material-symbols-outlined">search_check_2</mat-icon>
              SCANNING...
            </button>
          </ng-template>
        </div>
      </div>
      <div>
        <div *ngIf="obs.size > 0; else loadingBars">
          <div class="app-resourcegroup-projects">
            <div *ngFor="let obsKv of obsKvs">
              <app-resource-group
                [routerLink]="['../resourcegroup', obsKv.key.replace('/', '-')]" [name]="obsKv.key"
                [lastScanDate]="this.getDate(obsKv.value)"
                [observationCount]="obsKv.value.length"
                [observationBySeverity]="obsKv.value | mapByRiskScore"
              >

              </app-resource-group>
            </div>
          </div>
        </div>
        <ng-template #loadingBars>
          <div class="app-resourcegroup-projects">
            <div #loadingBars *ngFor="let obsKv of [1, 2, 3, 4, 5, 6, 7]">
              <div class="loadingBlock"></div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
