@use '../../colors.scss' as colors;

.inline-between {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

.loadingBlock {
  width: 300px;
  height: 220px;
  background: linear-gradient(
      to right,
      rgb(211, 211, 211) 50%,
      rgb(236, 236, 236) 50%
  );
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.app-resourcegroup {
  display: block;
  height: 100%;
  width: 100%;
  .app-resourcegroup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
  }

  h3 {
    margin: 8px 0;
  }

  h4 {
    margin: 4px 0;
  }

  .app-resourcegroup-filter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
  }

  .matching-groups-count {
    color: colors.$secondaryText;
    margin-top: 2px;
  }

  .observations-top-bar {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;

    .buttons {
      display: flex;
      justify-self: end;
    }
  }

  .observations-result {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin: 12px 0px 12px 0px;

    .observation-type {
      display: grid;
      grid-template-columns: 40px 6em 300px;
      justify-items: center;
      align-items: center;

      &.warn {
        .observation-icon {
          color: colors.$warning;
        }
      }

      &.danger {
        .observation-icon {
          color: colors.$danger;
        }
      }

      .observation-icon {
        align-self: center;
      }

      .observation-count {
        font-weight: bold;
        font-size: 1.5em;
        justify-self: right;
        margin-right: 8px;
      }

      .observation-description {
        justify-self: start;
      }
    }
  }

  .resource-groups-ctn {
    overflow: auto;
    height: 100%;
  }

  .app-resourcegroup-generalinfo {
    margin: 0px 0px 15px 40px;

    h1,
    h2 {
      margin: 5px 0px;
    }

    .buttons {
      display: flex;
      flex-direction: row;

      .button {
        background-color: rgb(238, 238, 238);
        margin-left: 3px;
        margin-top: 15px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      .button:hover {
        background-color: rgb(227, 227, 227);
      }
    }
  }

  .app-resourcegroup-projects {
    margin-top: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    overflow: auto;
    padding: 10px;
    max-height: calc(100vh - 356px);
  }
}
