@charset "UTF-8";

.inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.app-resourcegroup {
  width: 98%;

  h1 {
    display: inline;
  }

  a {
    color: rgb(0, 0, 0);
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
  }

  div.inline a:hover::after {
    text-decoration: none;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 1em;
    content: "\00A0\1F517";
  }

  .app-resourcegroup-header {
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-top: 24px;
  }
}

.description,
.recommendation {
  background-color: rgb(249, 249, 249);
  padding: 5px;
  max-width: 850px;
}

.app-observation {
  position: relative;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;

  b {
    font-size: 20px;
  }

  p {
    margin: 0;
    padding: 0 0 0 20px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  .app-observation-details {
    div {
      .gridvalues {
        padding: 0 0 0 20px;
        display: grid;
        grid-template-columns: 100px 1fr;
      }
    }

    code {
      background-color: rgb(248, 248, 248);
      padding: 3px 10px;
    }
  }

  .notify-ctn:hover>svg {
    transform: scale(0.8);
  }
}

.app-observation:hover {
  background-color: rgb(235, 235, 235);
}

.app-recourcegroup-observations {
  svg {
    height: 45px;
    cursor: pointer;
  }

  svg:hover {
    fill: rgb(64, 64, 64);
  }

  .mat-column-riskScore {
    max-width: 80px;
  }

  .mat-column-category {
    max-width: 350px;
  }

  .mat-column-shortDesc {
    min-width: 30%;
  }

  .mat-column-shortDesc, .mat-column-category {
    max-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;

    div {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mat-column-actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 100px;

    > * {
      cursor: pointer;
    }
  }
}

.observation-card {
  $margin: 20px;
  margin: $margin 0 $margin 0;
  padding: 10px;
}

.observation-card-header {
  margin-bottom: 1em;
}

.observation-card-title {
  display: flex;
  flex-basis: content;
  align-items: center;

  a.more-info {
    display: block;
    height: 24px;
    margin-left: 8px;
  }
}

.observation-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.observation-subtitle {
  &.has-observations {
    color: #da1e28;
  }
}
