<div class="app-resourcegroup">
  <div class="app-resourcegroup-header">
    <h2>
      <a *ngIf="this.resourceGroupName.startsWith('projects/')"
         href="{{this.PROJECT_URL + this.resourceGroupName.replace('projects/', '') }}">{{
          this.resourceGroupName.replace('projects/', '')
        }}</a>
      <a *ngIf="this.resourceGroupName.startsWith('folders/')"
         href="{{ this.FOLDER_URL + this.resourceGroupName.replace('folders/', '') }}">{{
          this.resourceGroupName
        }}</a>
      <a *ngIf="this.resourceGroupName.startsWith('organizations/')"
         href="{{ this.ORGANIZATION_URL + this.resourceGroupName.replace('organizations/', '') }}">{{
          this.resourceGroupName
        }}</a>
    </h2>
    <h3>Observation details</h3>
  </div>
  <div *ngIf="this.loading; else observations">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #observations>
    <div class="app-recourcegroup-observations">
      <app-observations-table [obs]="this.obs"></app-observations-table>
    </div>
  </ng-template>
