// place your variables here

module "modron" {
  source = "../modron"

  domain  = "hosted.at.example.com"
  env     = "dev"
  org_id  = "GCP_ORGID"
  project = "GCP_PROJECT_NAME-dev"
  zone    = "GCP_ZONE"

  modron_admins = [
    "group:modron-admins@example.com"
  ]
  modron_users = [
    "group:modron-users@example.com",
  ]
  project_admins = [
    "group:modron-project-admins@example.com"
  ]
}
